.buttonlinks{
margin-top:250px;
margin-left:200px;
}
@media screen and (min-width: 40.5em) {
.buttonlinks{
		margin-top:10px;
		margin-left:300px;
}
}

.toolbar{
position:absolute;
width:100%;
height:500px;
background:lightgray


}

@media screen and (min-width: 40.5em) {
.toolbar{
position:absolute;
width:100%;
height:200px;
background:lightgray;
}
}
.displayed{
	width: 150px;position:absolute;top:10%;left:30%;
}
@media screen and (min-width: 40.5em) {
.displayed{
position:absolute;
width:150px;
top:10%;
left:90%
}
}
/*
.sim-button {
	box-shadow:inset 1px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #94c6d8), color-stop(1, #94c6d8));
	background:-moz-linear-gradient(top, #94c6d8 5%, #5cafcd 100%);
	background:-webkit-linear-gradient(top, #94c6d8 5%, #5cafcd 100%);
	background:-o-linear-gradient(top, #94c6d8 5%, #5cafcd 100%);
	background:-ms-linear-gradient(top, #94c6d8 5%, #5cafcd 100%);
	background:linear-gradient(to bottom, #94c6d8 5%, #5cafcd 100%);
	background-color:#94c6d8;
	border-radius:6px;
	border:1px solid #5cafcd;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Helvetica;
	font-size:13px;
	font-weight:bold;
	padding:4px 16px;
	text-decoration:none;
}
.sim-button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	background-color:#68a54b;
}
*/
.sim-slider {

}

.buttonimage {
	position:absolute;
	z-index: 100;
	border-style: solid;
    border-width: 6px 3px 3px 6px;
	height:84px;
	width:132px;
	background-color:purple;
}


.sim-slider{
@track-color: #424242;
@thumb-color: #555bc8;

@thumb-radius: 8px;
@thumb-height: 30px;
@thumb-width: 30px;
@thumb-shadow-size: 1px;
@thumb-shadow-blur: 1px;
@thumb-shadow-color: #111;
@thumb-border-width: 1px;
@thumb-border-color: white;

@track-width: 100%;
@track-height: 10px;
@track-shadow-size: 2px;
@track-shadow-blur: 2px;
@track-shadow-color: #222;
@track-border-width: 1px;
@track-border-color: black;

@track-radius: 5px;
@contrast: 5%;
}


/*Track stuff */
input[type=range] {
  -webkit-appearance: none;
  margin: 150px 0;
  /*width:400px;*/
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  /*width: 100%;*/
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #898989, 0px 0px 1px #0d0d0d;
  border-radius: 1.3px;
  border: 0.2px solid #898989;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 20px;
  border-radius: 3px;
  background: #C67775;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
}
input[type=range]::-moz-range-track {
  /*width: 100%;*/
  height: 7.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #898989, 0px 0px 1px #0d0d0d;
  border-radius: 1.3px;
  border: 0.2px solid #898989;
  background:white;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 20px;
  border-radius: 3px;
  background: #C67775;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type=range]::-ms-track {
  /*width: 100%;*/
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px;
  color: white;
}
input[type=range]::-ms-fill-lower {
  background: white;
  border: 0.2px solid #898989;
  border-radius: 1.3px;
  box-shadow: 1px 1px 1px #898989, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: white;
  border: 0.2px solid #898989;
  border-radius: 1.3px;
  box-shadow: 1px 1px 1px #898989, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 20px;
  border-radius: 3px;
  background: #C67775;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: white;
}
input[type=range]:focus::-ms-fill-upper {
  background: white;
}
@media screen and (min-width: 40.5em) {
  input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  /*width:400px;*//*adjust of slider here*/
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  /*width: 100%;*/
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #898989, 0px 0px 1px #0d0d0d;
  border-radius: 1.3px;
  border: 0.2px solid #898989;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 25px;
  width: 18px;
  border-radius: 3px;
  background: #f1a3a1;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
}
input[type=range]::-moz-range-track {
  /*width: 100%;*/
  height: 7.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #898989, 0px 0px 1px #0d0d0d;
  border-radius: 1.3px;
  border: 0.2px solid #898989;
  background:white;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 20px;
  border-radius: 3px;
  background: #f6cbca;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -12px;
}
input[type=range]::-ms-track {
  /*width: 100%;*/
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px;
  color: white;
}
input[type=range]::-ms-fill-lower {
  background: white;
  border: 0.2px solid #898989;
  border-radius: 1.3px;
  box-shadow: 1px 1px 1px #898989, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: white;
  border: 0.2px solid #898989;
  border-radius: 1.3px;
  box-shadow: 1px 1px 1px #898989, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 30px;
  width: 20px;
  border-radius: 3px;
  background: #f6cbca;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: white;
}
input[type=range]:focus::-ms-fill-upper {
  background: white;
}
}





/**/
.onoffswitch {
    position: absolute; top:320px;left:25px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid a; border-radius: 8px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;

}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 13px; color: white; font-family: Helvetica, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 8px;
    background-color: #9a9a9a; color: #FFFFFF;
    
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #747474; color: #FFFFFF;
    text-align: right;
    
}
.onoffswitch-switch {
    display: block; width: 33px; margin: -6px;
    background: #e6e6e6;
    position: absolute; top: 0; bottom: 0;
    right: 41px;
    border:1px solid #a1a1a1; a; border-radius: 8px;
    transition: all 0.2s ease-in 0s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #a1a1a1;

}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
@media screen and (min-width: 40.5em) {
.onoffswitch {
    position: absolute; top:160px;left:20px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid a; border-radius: 8px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;

}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 21px; padding: 0; line-height: 21px;
    font-size: 13px; color: white; font-family: Helvetica, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 9px;
    padding-right:2px;
    background-color: #9a9a9a; color: #FFFFFF;
    
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #747474; color: #FFFFFF;
    text-align: right;
    
}
.onoffswitch-switch {
    display: block; width: 33px; margin: -6px;
    background: #e6e6e6;
    position: absolute; top: 0; bottom: 0;
    right: 41px;
    border:1px solid #a1a1a1; a; border-radius: 8px;
    transition: all 0.2s ease-in 0s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #a1a1a1;

}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
}
.sim-button {
  margin:360px 0;
  display: inline-block;
  width:100px;
  padding: 15px 25px;
  font-size: 15px;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #b27775;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.sim-button:hover {background-color: #9f4b48}

.sim-button:active {
  background-color: #9f4b48;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (min-width: 40.5em) {
.sim-button {
  margin:3px 0;
  display: inline-block;
  width:100px;
  padding: 15px 25px;
  font-size: 15px;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  cursor: pointer;
  text-align: center;
  outline: none;
  color: #fff;
  background-color: #b27775;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.sim-button:hover {background-color: #9f4b48}

.sim-button:active {
  background-color: #9f4b48;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
}


